body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e0f7fa;
  background-image: url('emoji.jpg');
  background-size: cover;
  background-position: center;
}

.navbar {
  background-color: #337ab7;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar nav a:hover {
  color: #b2dfdb;
}

.quiz-container {
  width: 80%;
  max-width: 600px;
  margin: 5em auto;
  text-align: center;
  position: relative;
  top: 10vh;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

button {
  display: block;
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  font-size: 1em;
  cursor: pointer;
  background-color: #b1d43b;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
  background-color: #a3b33b;
  transform: scale(1.05);
}

.start-button {
  background-color: #a0b125;
  font-size: 1.2em;
  padding: 1.2em;
  margin-bottom: 2em;
  border-radius: 5px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.start-button:hover {
  background-color: #8f9d1c;
  transform: scale(1.05);
}

.result {
  display: none;
}

.food-item {
  display: flex;
  align-items: center;
  margin: 1em 0;
  background-color: #f0f0f0;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.food-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 1em;
}

.food-item .food-info {
  text-align: left;
}

.food-item .food-info h4 {
  margin: 0 0 0.5em;
}

.food-item .food-info p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar nav a {
    margin: 10px 0;
  }

  .quiz-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .navbar h1 {
    font-size: 20px;
  }

  button {
    font-size: 0.9em;
    padding: 0.8em;
  }

  .quiz-container {
    padding: 1em;
  }

  .food-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .food-item img {
    margin-bottom: 1em;
  }
}
